.app-container {
  background-color: #171717;
  color: #FFFFFF;
  font-family: 'Titillium Web', sans-serif;
  overflow-y: auto;
  height: 100vh;
  padding: 0 10px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: url('https://test.create.diagnal.com/images/nav_bar.png');
  background-size: cover;
  padding: 10px;
}

.header h1 {
  flex-grow: 1;
  margin: 0;
  text-align: center;
}

.icon {
  width: 24px;
  height: 24px;
}

.search-container {
  display: flex;
  align-items: center;
}

.search-input {
  background-color: #171717;
  color: #FFFFFF;
  border: none;
  padding: 5px;
  margin-left: 10px;
  flex-grow: 1;
}
